<table class="table-pokemon" (swipeleft)="nextPage()" (swiperight)="prevPage()">
    <tr>
        <th class="small">No.</th>
        <th class="small"></th>
        <th>
            Pokemon
            <input #inputfilter placeholder="filter" class="hide-on-mobile" (keyup)="filterSearch($event)">
        </th>
        <th class="medium">Type</th>
        <th class="medium hide-on-mobile">Abilities</th>
    </tr>

    <ng-container *ngFor="let pokemon of pokemons">
        <tr *ngIf="!pokemon || !pokemon.order" class="tr-loading">
            <td colspan="5">
                Loading...
            </td>            
        </tr>

        <tr *ngIf="pokemon && pokemon.order" class="selectable-table-line" (click)="showPokemon(pokemon)">
            <td class="center">{{pokemon.order | positionFormat}}</td>
            <td>
                <span class="animated">
                    <app-pokemon-sprite [src]="pokemon.url_image_mini" [color]="pokemon.biology.color"></app-pokemon-sprite>
                </span>
            </td>
            <td class="center pokemon-name">{{pokemon.name}}</td>
            <td class="center pokemon-name">
                <app-banner-type *ngFor="let type of pokemon.types" [type]="type.type.name" size="m"></app-banner-type>
            </td>

            <td class="center pokemon-name hide-on-mobile">
                <div class="desc-ability" *ngFor="let ability of pokemon.abilities">
                    {{ability.name}}
                </div>
            </td>
        </tr>
    </ng-container>
</table>

<div class="table-footer">
    <div class="menu-pagenation">
        <a class="poke-font" [ngClass]="{'disabled': page === 0}" (click)="firstPage()">&#171;</a>
        <a class="poke-font" [ngClass]="{'disabled': page === 0}" (click)="prevPage()">&#060;</a>

        <input type="number" ngModel [value]="page+1" (keypress)="setPage($event)" min="1" [max]="getLastPage() + 1">

        <a class="poke-font" [ngClass]="{'disabled': isLastPage()}" (click)="nextPage()">&#062;</a>
        <a class="poke-font" [ngClass]="{'disabled': isLastPage()}" (click)="lastPage()">&#187;</a>
    </div>

    <div class="poke-count drop hide-on-mobile pokemon-shadow" *ngIf="pokemonCount">
        {{pokemonCount}} Pokemons
    </div>
</div>