.table-pokemon {
    width: 100%;
    border-spacing: 0;

    th {
        font-family: 'pokemon-font';
        letter-spacing: 3px;

        border-bottom: 2px solid #1b3b8a;
        background-color: #ffcb05;
    }

    th, td {
        padding: 7px 0;
    }

    th input {
        color: #222;
        width: 9em;
        margin-right: -180px;
    }
}

.tr-loading td {
    text-align: center;
    height: 66px;
}

.selectable-table-line:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;

    span.animated {
        animation: shake 0.3s 2;
        display: inline-block;
    }
}

.table-footer {
    text-align: center;
    border-top: 2px solid #1b3b8a;
    padding-top: 7px;

    .menu-pagenation {
        display: inline-block;

        a {
            display: inline-block;
            margin: 0 10px;

            cursor: pointer;
            font-size: 1.7em;

            line-height: 1em;
        }

        a:hover:not(.disabled) {
            color: #ffdc4f;
            text-shadow: 0.1em 0.1em 0px #1b3b8a;
        }

        a.disabled {
            color: #999;
            cursor: default !important;
        }

        .poke-font.text {
            font-size: 1.5em;
            margin: auto 20px;
        }
    }

    .poke-count {
        float: right;
        width: 200px;
        margin-left: -20em;
        font-size: 1.1em;
        padding: 10px 20px;
    }
}


/* mobile */
@media only screen and (hover: none) and (pointer: coarse){
    .table-pokemon {
        margin-bottom: 4.5em;
        
        th {
            padding: 0;
        }
    }

    .table-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        padding-bottom: 1em;
    }
}