.evolution-phase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.evolution-cont {
    display: inline-block;
    padding: 10px;

    background-color: #ddd;
    border-radius: 10px;
    margin: 10px 20px;

    min-height: 54px;
    min-width: 64px;
}

.evo-children {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* mobile */
@media only screen and (hover: none) and (pointer: coarse){
    .evolution-cont {
        margin: 10px 5px;
    }
}
