<div *ngIf="pokemon" class="detail-cont">
    <div class="detail-image">
        <img alt="pokemon image" [src]="getBestImagem()">
    </div>

    <div class="detail-header">
        <h2 class="detail-name">
            {{pokemon?.name}}
        </h2>

        <div class="detail-type">
            <div class="detail-desc-type">

            </div>
            
            <div class="detail-element-list">
                <div class="detail-element-type"></div>
            </div>
        </div>

        <div class="detail-text-decoration"></div>
    </div>

    <div class="detail-atr-list">
        <div class="detail-atr-iten"></div>
    </div>
    
    <div class="detail-evo-cont">
        <!--TODO-->
    </div>

    <div class="detail-bio">
        <!--TODO-->
    </div>

    <div class="detail-Abilities-list">
        <!--TODO-->
    </div>
</div>
