@import "../styles_variables.scss";

.app-cont {
    margin: auto;
    width: min(1200px, 100%);
    padding: 0 40px 40px 40px;
    min-height: 100vh;

    background-color: rgba(100, 117, 131, 0.8);
    background: linear-gradient(173deg, rgba(6,47,88,1) 0%, rgba(35,86,108,1) 35%, rgba(158,183,194,1) 100%);
    box-shadow: 0 0 3px #ccc;
    overflow-x: hidden;
}

.toolbar {
    font-size: 3.5em;
    text-align: center;
    line-height: 2em;
    margin: 0 -40px 0px -40px;
    background-color: $back-title-color;
}

/* Mobile */
@media only screen and (max-width: 760px) {
    .app-cont {
        width: 100%;
        padding: 0 0 40px 0;
    }

    .toolbar {
        font-size: 8vw;
        padding: 0 0 10px 0;
    }
}