* {
    box-sizing: border-box;
}

.app-cont {
    margin: auto;
    width: min(1200px, 100%);
    padding: 0 40px 40px 40px;
    min-height: 100vh;

    background-color: rgba(100, 117, 131, 0.8);
    box-shadow: 0 0 4px #666;
}

.toolbar {
    font-size: 5em;
    text-align: center;
    line-height: 2em;
    margin-bottom: 40px;
}
