$pokemon-title-color: #ffcb05;
$pokemon-title-shadow: #3c5aa6;

$back-title-color: #fbfbfb;
$back-card-color: #fff;
$back-image-color: #ddd;

$back-grey: #ddd;
$back-dark-grey: #c9c9c9;

$color-black: #111;
$color-blue: #286ac0; 
$color-brown: #703528; 
$color-gray: #777; 
$color-green: #149b0f; 
$color-pink: #dd8686; 
$color-purple: #77287e; 
$color-red: #be0000; 
$color-white: #b4b4b4; 
$color-yellow: #d1d40e;